<div class="container" >
<h1 class="mt-4" style="text-align:center">Welcome to SchoolMitra</h1>

<% if user_signed_in? %>
   <div style="text-align:center">
      <% if current_user.student %>
         <%= link_to "View Certificate", certificate_path(format: :pdf), method: :get, class: "mt-5 btn btn-lg mx-auto btn-primary", style: "color#fff;" %>

      <% else %>
         <%= link_to "Get my Certificate", new_student_path, method: :get, class: "mt-5 btn btn-lg mx-auto btn-primary", style: "color#fff;" %>

      <% end %>
   </div>

<% else %>
   <div style="text-align:center; ">
   <p class="subtitle mt-3" style="text-decoration:none;">Create Your free account today!<br/>
   <%= link_to "Sign up", new_user_registration_path, class: "mt-4 btn btn-lg btn-primary" %>

<% end %>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>